:root{
    --colorTextos: #49454567;
    --bg-nav : #665c52;
}

*,
::before
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5b14, #665c52);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #74b3a7, #e6e1cf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

header {
    background-color: #cc5b14;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  
  nav{
   background-color: var(--bg-nav);
   height: 40px;  
   font-family:"Roboto";
   color: #eeece9;
   display: flex;
   /*al eje principal row*/
   justify-content: space-between;
   
   /*al eje secundario column*/
   align-items: center;
   padding: 0 50px;
  
  }

 footer {
    background-color: #cc5b14;
    overflow: hidden;
    position: absolute;
    bottom: -160px;
    width: 100%;
    padding: 0px 0;
    text-align: right;
  }
  
  #nav-links{
  display: flex;
  list-style: none;
  gap:30px;
  
  }

  #nav-links2{
    display: flex;
    list-style: none;
    gap:30px;
    text-align: left;
    
    }
  
  #nav-links li a {
    text-decoration: none;
    color: inherit;
  }
  #nav-links2 li a {
    color: white;
    text-decoration: none;
}

#textomenu0{
list-style: none;
text-decoration: none;
color: inherit;
}

.titulo{
    text-align: center;
    font-weight: 700;
    height: 10px;
    width: top;
}

form{

    background: #ffff;
    margin-top: 1px;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
    border-radius: 10px;
    height: 550px;

}
.form{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;

}


form .grupo{
    position: relative;
    margin: 45px;
}

.checkbox{
-webkit-appearance: none;
background-color: #c3c3c3;
border: 2px solid #c3c3c3;
width: 10px;
height: 10px;
border-radius: 2px;

}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);

}
input:focus{
    outline: none;
    color: rgb(94, 93, 93)
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color:#2196f3;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position:absolute;
    background: linear-gradient(to right, #4286f4, #373B44);
    transition:0.3s ease width;
    left:0;
}

input:focus~.barra::before{
    width: 100%;
}

button{
    font-family: 'Roboto';
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:none;
    display: block;
    width: 150%;
    margin: 10px auto;
    color: #ffff;
    height: 40px;
    font-size: 16px;
    cursor:pointer;
    position: relative;
    top: 80%;
    margin-left:25%;
    border-radius: 10px;

}

#pais{
    position: absolute;
    width: 220px;
    height: 20px;

}

#titulocheck{
    background: none;
    color: #363636;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border:none;

}


#check{
    display: flex;
    flex-direction: column;
    width: 40%;
   
    font-size: 10px;
    margin-top: 1px;
    border-top: 1px;
    padding-top: 1px;
    margin-left:50px;
}
.titulonac{
    position: relative;
    top: 1;
    margin-top: 0px;
    font-size: 15px;

}

.titulogen{
    position: static;
    margin-top: 1px;
    font-size: 20px;
}

#genero{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    margin-top: 1px;
    border-top: 1px;
    padding-top: 1px;
    margin-left:50px;
    font-size: 10px;
}

@media screen and (max-width: 500px){
    form{
        width: 80%;
    }
}
