:root{
    --primer-color: #665c52;
    --segundo-color: #74b3a7;
    --tercer-color: #a3ccaf;
    --cuarto-color: #e6e1cf;
    --quinto-color: #cc5b14;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

  
* {
    margin: 1px4;
    padding: 0;
}

body {
    background-color: var(--primer-color);
}

nav{
    background-color: var(--quinto-color);
    height: 6vh;
    display: flex;
    align-items: center;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 30vh;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    



}

#nav-list li a {
    text-decoration: none;
    color: inherit;

}


.my-header{
    background-color: var(--primer-color);
}

#Search{
    background-color: var(--segundo-color);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#Course{
    background-color: var(--tercer-color);
}

#Staff{
    background-color: var(--segundo-color);
}

#Somos{
    background-color: var(--tercer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    
}

#detalle {
    margin: 50px;
    text-align: center;
}

#valores{
    list-style: none;
    display: flex;
    gap: 50px;
    font-family: cursive;
    font-size: small;
    text-align: center;
}


#my-footer{
    background-color: var(--quinto-color);
}

